

    <section class="text-center">
        <div class ="row focus-ring text-white border w-100" style="cursor: pointer;">
            <div routerLink="/" class="col bg-primary border ">
               
                <a  class="text-white text-decoration-none"> <i class="bi bi-newspaper text"></i> Noticias</a>
            </div>
            <div routerLink="/add-news" class="col bg-primary border">
                
                <a class="text-white text-decoration-none"><i class="bi bi-file-plus-fill"></i> Agregar Noticias</a>
            </div>
        </div>
    </section>
